/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {font-family: calibri;
  text-align: center;
  margin: 0px;
  background-image: url("board.jpg");
color:white}


ul {text-align: center;
padding: 0px}

li {list-style: none;
  display: inline-block;}

li a {padding: 10px 20px;
margin: 10px;
border-radius: 10px;
color: white;
text-align:center;
text-transform: uppercase;
border: 1px solid transparent;
font-size: 25px;}

li a:hover {background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid white;
}

a {color: white;
font-size: 24px;
letter-spacing: 2px;
text-decoration: none;
border-bottom: 1px;
padding: 2px 10px;
text-transform: uppercase}

.disabled {opacity: 0.5;
pointer-events: none;}
